.greenDiv{
    background: #0B710B;
    border-radius: 20px;
    width: 93%;
    height: 486px;
    padding: 30px;
    margin: 30px;
}


h2{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
}

form{
    display: flex;
}

.formHands{
    width: 948px;
    height: 331px;
    margin-left: -50px;
}

.divInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
    padding: auto 40px;
}

input{
    border-radius: 6px;
    padding: 16px 32px;
    width: 450px;
    border: 1px solid #FFF;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    background: transparent;
}

input::placeholder {
    color: #FFF;
}

.whiteButton{
    color: #282828;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    width: 516px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: #FFF;
    border: none;
    margin-top: 20px;
}



@media  screen and (max-width: 1440px) {
    .imgWrapper .formHands{
        width: 100%;
        height: 331px;
        overflow: hidden;
        margin-left: -10px;
    }
    .greenDiv .imgWrapper{
        width: 548px;
        overflow: hidden;
    }
    form{
        gap: 50px;
    }
    input{
        width: 400px;
    }
    .whiteButton{
        width: 470px;
    }
    .greenDiv{
        width: 88%;
    }
}


@media  screen and (max-width: 1000px) {
    h2{
        font-size: 64px;
    }
    .greenDiv{
        width: 90%;
        padding: 10px;
      
    }
    .greenDiv .imgWrapper{
        width: 448px;
        overflow: hidden;
    }
    .imgWrapper .formHands{
        width: 100%;
        height: 331px;
        object-fit: cover;
    }
    form{
        margin-top: -50px;
    }

    .divInputs{
        width: 10%;
        justify-content: flex-end;
        margin-left: 120px;
    }
    .divInputs input{
        width: 300px; 
        padding: auto 20px;
    }
    .divInputs .whiteButton{
        width: 370px;
    }
}

@media  screen and (max-width: 768px) {
    h2{
        font-size: 45px;
    }
    .greenDiv .imgWrapper{
        width: 260px;
        overflow: hidden;
    }
    .imgWrapper .formHands{
        width: 100%;
        height: 331px;
        object-fit: cover;
    }

    .divInputs{
        width: 10%;
        justify-content: flex-end;
        margin-left: 110px;
    }
    .divInputs input{
        width: 300px; 
        padding: auto 20px;
    }
  
    .divInputs .whiteButton{
        width: 370px;
    }
    .greenDiv{
        width: 88%;
        padding: 15px 10px;
    }
    form{
        margin-top: -35px;
    }
}


@media  screen and (max-width: 480px) {
    h2{
        font-size: 40px;
    }
    form{
        flex-direction: column-reverse;
    }
    .greenDiv .imgWrapper{
        width: 400px;
        overflow: hidden;
    }
    .imgWrapper .formHands{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .divInputs{
        width: 10%;
        justify-content: center;
        margin-left: 185px;
    }
    .divInputs input{
        width: 300px; 
        padding: auto 20px;
    }
  
    .divInputs .whiteButton{
        width: 370px;
    }
    .greenDiv{
        width: 86%;
        padding: 5px 10px;
        height: 666px;
        margin: 20px;
    }
    form{
        margin-top: -15px;
    }
}


@media  screen and (max-width: 360px) {
    h2{
        font-size: 40px;
    }
    form{
        flex-direction: column-reverse;
    }
    .greenDiv .imgWrapper{
        width: 300px;
        overflow: hidden;
    }
    .imgWrapper .formHands{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .divInputs{
        width: 10%;
        justify-content: center;
        margin-left: 135px;
    }
    .divInputs input{
        width: 220px; 
        padding: auto 20px;
    }
  
    .divInputs .whiteButton{
        width: 290px;
    }
    .greenDiv{
        width: 89%;
        padding: 5px 5px;
        height: 620px;
        margin: 15px;
    }
    form{
        margin-top: -15px;
    }
}


